{% extends "base.html" %}
{% load static %}

{% block sidenav %}
   {% for item in item_list %}
    <li><a href="{{ item.link }}"> {{ item.item }}</a></li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1>My Books</h1>
<table border="2">
    <tr>
        <th style="padding: 10px;">
            Book Name
        </th>
        <th style="padding: 10px;">
            Publisher User
        </th>
        <th style="padding: 10px;">
            DELETE
        </th>
    </tr>
   {% for book in books %}
    <tr>
        <td style="padding: 10px;">
            <a href="book_detail/{{ book.id }}">{{ book.name }}</a>
        </td>
        <td style="padding: 10px;">
            {{ book.username }}
        </td>
        <td style="padding: 10px;">
            <a href="book_delete/{{ book.id }}"> DELETE </a>
        </td>
    </tr>
   {% endfor %}
</table>

{% endblock %}